# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [1]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore = pd.read_csv('dataset/baltimore_9-24-2016_9-30-2017.csv')
boston = pd.read_csv('dataset/boston_9-24-2016_9-30-2017.csv')
new_york = pd.read_csv('dataset/new-york_9-24-2016_9-30-2017.csv')
philadelphia = pd.read_csv('dataset/philadelphia_9-24-2016_9-30-2017.csv')

dataframes = {"baltimore":baltimore, "boston":boston,"new_york": new_york,"philadelphia": philadelphia}

for (key, value) in dataframes.items():
    display(value.head())

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,04/29/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
1,PUMPKINS,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,05/06/2017,270,280.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN
2,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/05/2016,90,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,200,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,BOSTON,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,160,180,...,ORANGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,170,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,130,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,NEW YORK,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,120,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

,Commodity Name,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,...,Color,Environment,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode
0,PUMPKINS,PHILADELPHIA,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,09/16/2017,140,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
1,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
2,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
3,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,09/24/2016,150,160,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN
4,PUMPKINS,PHILADELPHIA,NaN,36 inch bins,HOWDEN TYPE,NaN,NaN,10/01/2016,140,140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [2]:
# Clean your data here!

for(key, value) in dataframes.items():
    for col in value.columns:
        percentage_missing = np.mean(value[col].isnull())
        print(f"{key} column: {col.title()} has {percentage_missing*100}% missing")
    print("***********************************************")


print("***********************************************")

for (key, value) in dataframes.items():
    total_cells = np.product(value.shape)
    missing_cells = pd.isnull(value).sum()
    total_missing = missing_cells.sum()
    percentage_missing = round((total_missing/total_cells), 2) *100
    print(f"{key} percent missing: {percentage_missing}%")   


clean_dfs = {}
    
for(key, df) in dataframes.items():
    columns_to_keep = []
    for col in df.columns:
        percentage_missing = np.mean(df[col].isnull())
        if(percentage_missing < 0.5):
            columns_to_keep.append(col)
    cleaned_df = df[columns_to_keep].copy()       
    clean_dfs[f"{key}"] = cleaned_df

print("***********************************************")

    
for (key, value) in clean_dfs.items():
    total_cells = np.product(value.shape)
    missing_cells = pd.isnull(value).sum()
    total_missing = missing_cells.sum()
    percentage_missing = round((total_missing/total_cells), 2) *100
    print(f"{key} percent missing: {percentage_missing}%")   


    
for(key, df) in clean_dfs.items():
    for col in df.columns:
        if df[col].dtype in ['int64', 'float64']:
            mean_value = df[col].mean()
            df[col].fillna(mean_value, inplace=True)

for(key, df) in clean_dfs.items():
    for col in df.columns:
        mode_value = df[col].mode().iloc[0] if not df[col].mode().empty else None
        if mode_value is not None:
            df[col].fillna(mode_value, inplace=True)
 
    
print("***********************************************")

    
for (key, value) in clean_dfs.items():
    total_cells = np.product(value.shape)
    missing_cells = pd.isnull(value).sum()
    total_missing = missing_cells.sum()
    percentage_missing = round((total_missing/total_cells), 2) *100
    print(f"{key} percent missing: {percentage_missing}%")       
    
for(key, value) in clean_dfs.items():
    for col in value.columns:
        percentage_missing = np.mean(value[col].isnull())
        print(f"{key} column: {col.title()} has {percentage_missing*100}% missing")
    print("***********************************************")
    

print(clean_dfs["baltimore"]["Item Size"])

baltimore column: Commodity Name has 0.0% missing
baltimore column: City Name has 0.0% missing
baltimore column: Type has 100.0% missing
baltimore column: Package has 0.0% missing
baltimore column: Variety has 1.3071895424836601% missing
baltimore column: Sub Variety has 83.66013071895425% missing
baltimore column: Grade has 100.0% missing
baltimore column: Date has 0.0% missing
baltimore column: Low Price has 0.0% missing
baltimore column: High Price has 0.0% missing
baltimore column: Mostly Low has 0.0% missing
baltimore column: Mostly High has 0.0% missing
baltimore column: Origin has 3.2679738562091507% missing
baltimore column: Origin District has 100.0% missing
baltimore column: Item Size has 16.33986928104575% missing
baltimore column: Color has 79.73856209150327% missing
baltimore column: Environment has 100.0% missing
baltimore column: Unit Of Sale has 84.31372549019608% missing
baltimore column: Quality has 100.0% missing
baltimore column: Condition has 100.0% missing
baltimore column: Appearance has 100.0% missing
baltimore column: Storage has 100.0% missing
baltimore column: Crop has 100.0% missing
baltimore column: Repack has 0.0% missing
baltimore column: Trans Mode has 100.0% missing
***********************************************
boston column: Commodity Name has 0.0% missing
boston column: City Name has 0.0% missing
boston column: Type has 100.0% missing
boston column: Package has 0.0% missing
boston column: Variety has 0.0% missing
boston column: Sub Variety has 92.04545454545455% missing
boston column: Grade has 100.0% missing
boston column: Date has 0.0% missing
boston column: Low Price has 0.0% missing
boston column: High Price has 0.0% missing
boston column: Mostly Low has 0.0% missing
boston column: Mostly High has 0.0% missing
boston column: Origin has 0.0% missing
boston column: Origin District has 81.25% missing
boston column: Item Size has 1.1363636363636365% missing
boston column: Color has 13.636363636363635% missing
boston column: Environment has 100.0% missing
boston column: Unit Of Sale has 86.93181818181817% missing
boston column: Quality has 100.0% missing
boston column: Condition has 100.0% missing
boston column: Appearance has 100.0% missing
boston column: Storage has 100.0% missing
boston column: Crop has 100.0% missing
boston column: Repack has 0.0% missing
boston column: Trans Mode has 100.0% missing
***********************************************
new_york column: Commodity Name has 0.0% missing
new_york column: City Name has 0.0% missing
new_york column: Type has 100.0% missing
new_york column: Package has 0.0% missing
new_york column: Variety has 0.0% missing
new_york column: Sub Variety has 83.92857142857143% missing
new_york column: Grade has 100.0% missing
new_york column: Date has 0.0% missing
new_york column: Low Price has 0.0% missing
new_york column: High Price has 0.0% missing
new_york column: Mostly Low has 0.0% missing
new_york column: Mostly High has 0.0% missing
new_york column: Origin has 0.0% missing
new_york column: Origin District has 86.60714285714286% missing
new_york column: Item Size has 7.142857142857142% missing
new_york column: Color has 81.25% missing
new_york column: Environment has 100.0% missing
new_york column: Unit Of Sale has 77.67857142857143% missing
new_york column: Quality has 100.0% missing
new_york column: Condition has 100.0% missing
new_york column: Appearance has 100.0% missing
new_york column: Storage has 100.0% missing
new_york column: Crop has 100.0% missing
new_york column: Repack has 0.0% missing
new_york column: Trans Mode has 100.0% missing
***********************************************
philadelphia column: Commodity Name has 0.0% missing
philadelphia column: City Name has 0.0% missing
philadelphia column: Type has 100.0% missing
philadelphia column: Package has 0.0% missing
philadelphia column: Variety has 0.0% missing
philadelphia column: Sub Variety has 78.94736842105263% missing
philadelphia column: Grade has 100.0% missing
philadelphia column: Date has 0.0% missing
philadelphia column: Low Price has 0.0% missing
philadelphia column: High Price has 0.0% missing
philadelphia column: Mostly Low has 0.0% missing
philadelphia column: Mostly High has 0.0% missing
philadelphia column: Origin has 0.0% missing
philadelphia column: Origin District has 100.0% missing
philadelphia column: Item Size has 21.052631578947366% missing
philadelphia column: Color has 100.0% missing
philadelphia column: Environment has 100.0% missing
philadelphia column: Unit Of Sale has 80.7017543859649% missing
philadelphia column: Quality has 100.0% missing
philadelphia column: Condition has 100.0% missing
philadelphia column: Appearance has 100.0% missing
philadelphia column: Storage has 100.0% missing
philadelphia column: Crop has 100.0% missing
philadelphia column: Repack has 0.0% missing
philadelphia column: Trans Mode has 100.0% missing
***********************************************
***********************************************
baltimore percent missing: 51.0%
boston percent missing: 47.0%
new_york percent missing: 49.0%
philadelphia percent missing: 51.0%
***********************************************
baltimore percent missing: 2.0%
boston percent missing: 1.0%
new_york percent missing: 1.0%
philadelphia percent missing: 2.0%
***********************************************
baltimore percent missing: 0.0%
boston percent missing: 0.0%
new_york percent missing: 0.0%
philadelphia percent missing: 0.0%
baltimore column: Commodity Name has 0.0% missing
baltimore column: City Name has 0.0% missing
baltimore column: Package has 0.0% missing
baltimore column: Variety has 0.0% missing
baltimore column: Date has 0.0% missing
baltimore column: Low Price has 0.0% missing
baltimore column: High Price has 0.0% missing
baltimore column: Mostly Low has 0.0% missing
baltimore column: Mostly High has 0.0% missing
baltimore column: Origin has 0.0% missing
baltimore column: Item Size has 0.0% missing
baltimore column: Repack has 0.0% missing
***********************************************
boston column: Commodity Name has 0.0% missing
boston column: City Name has 0.0% missing
boston column: Package has 0.0% missing
boston column: Variety has 0.0% missing
boston column: Date has 0.0% missing
boston column: Low Price has 0.0% missing
boston column: High Price has 0.0% missing
boston column: Mostly Low has 0.0% missing
boston column: Mostly High has 0.0% missing
boston column: Origin has 0.0% missing
boston column: Item Size has 0.0% missing
boston column: Color has 0.0% missing
boston column: Repack has 0.0% missing
***********************************************
new_york column: Commodity Name has 0.0% missing
new_york column: City Name has 0.0% missing
new_york column: Package has 0.0% missing
new_york column: Variety has 0.0% missing
new_york column: Date has 0.0% missing
new_york column: Low Price has 0.0% missing
new_york column: High Price has 0.0% missing
new_york column: Mostly Low has 0.0% missing
new_york column: Mostly High has 0.0% missing
new_york column: Origin has 0.0% missing
new_york column: Item Size has 0.0% missing
new_york column: Repack has 0.0% missing
***********************************************
philadelphia column: Commodity Name has 0.0% missing
philadelphia column: City Name has 0.0% missing
philadelphia column: Package has 0.0% missing
philadelphia column: Variety has 0.0% missing
philadelphia column: Date has 0.0% missing
philadelphia column: Low Price has 0.0% missing
philadelphia column: High Price has 0.0% missing
philadelphia column: Mostly Low has 0.0% missing
philadelphia column: Mostly High has 0.0% missing
philadelphia column: Origin has 0.0% missing
philadelphia column: Item Size has 0.0% missing
philadelphia column: Repack has 0.0% missing
***********************************************
0      lge
1      lge
2      med
3      med
4      lge
      ...
148    sml
149    sml
150    sml
151    sml
152    sml
Name: Item Size, Length: 153, dtype: object

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [3]:
# Combine the four dataframes into one!
combined_df = pd.concat(clean_dfs.values(), ignore_index=True)

print(combined_df)

    Commodity Name     City Name             Package      Variety        Date  \
0         PUMPKINS     BALTIMORE        24 inch bins    MINIATURE  04/29/2017
1         PUMPKINS     BALTIMORE        24 inch bins    MINIATURE  05/06/2017
2         PUMPKINS     BALTIMORE        24 inch bins  HOWDEN TYPE  09/24/2016
3         PUMPKINS     BALTIMORE        24 inch bins  HOWDEN TYPE  09/24/2016
4         PUMPKINS     BALTIMORE        24 inch bins  HOWDEN TYPE  11/05/2016
..             ...           ...                 ...          ...         ...
669       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE  11/05/2016
670       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE  08/26/2017
671       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE  09/16/2017
672       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE  09/23/2017
673       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE  09/30/2017

     Low Price  High Price  Mostly Low  Mostly High    Origin Item Size  \
0          270       280.0         270        280.0  MARYLAND       lge
1          270       280.0         270        280.0  MARYLAND       lge
2          160       160.0         160        160.0  DELAWARE       med
3          160       160.0         160        160.0  VIRGINIA       med
4           90       100.0          90        100.0  MARYLAND       lge
..         ...         ...         ...          ...       ...       ...
669         16        18.0          16         18.0      OHIO       med
670         18        20.0          18         20.0  MICHIGAN       med
671         16        16.0          16         16.0      OHIO       med
672         15        16.0          15         16.0      OHIO       med
673         15        18.0          15         18.0      OHIO       med

    Repack Color
0        E   NaN
1        E   NaN
2        N   NaN
3        N   NaN
4        N   NaN
..     ...   ...
669      N   NaN
670      N   NaN
671      N   NaN
672      N   NaN
673      N   NaN

[674 rows x 13 columns]

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [25]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

# combined_df["Variety"]
grouped_df = combined_df.groupby('Variety')
mean_low_price = grouped_df['Low Price'].mean()
low_low_price = grouped_df['Low Price'].min()
max_low_price = grouped_df['Low Price'].max()

print(f"LOWEST LOW PRICE:\n {low_low_price}")
print("*********************************************")

print(f"MAX LOW PRICE:\n{max_low_price}")
print("*********************************************")

print(f"MEAN LOW PRICE BY VARIETY:\n{mean_low_price}")
print("*********************************************")
print("*********************************************")

mean_high_price = grouped_df["High Price"].mean()
low_high_price = grouped_df['High Price'].min()
max_high_price = grouped_df['High Price'].max()

print(f"LOWEST HIGh PRICE:\n {low_high_price}")
print("*********************************************")

print(f"MAX HIGH PRICE:\n{max_high_price}")
print("*********************************************")
print(f"MEAN HIGH PRICE BY VARIETY:\n{mean_high_price}")
print("*********************************************")

LOWEST LOW PRICE:
 Variety
BIG MACK TYPE                40
BLUE TYPE                   260
CINDERELLA                   15
FAIRYTALE                    15
HOWDEN TYPE                  90
HOWDEN WHITE TYPE           160
KNUCKLE HEAD                120
MINIATURE                    15
MIXED HEIRLOOM VARIETIES    160
PIE TYPE                     12
Name: Low Price, dtype: int64
*********************************************
MAX LOW PRICE:
Variety
BIG MACK TYPE               260
BLUE TYPE                   260
CINDERELLA                  380
FAIRYTALE                   260
HOWDEN TYPE                 200
HOWDEN WHITE TYPE           180
KNUCKLE HEAD                260
MINIATURE                   270
MIXED HEIRLOOM VARIETIES    240
PIE TYPE                    300
Name: Low Price, dtype: int64
*********************************************
MEAN LOW PRICE BY VARIETY:
Variety
BIG MACK TYPE               129.454545
BLUE TYPE                   260.000000
CINDERELLA                  206.051282
FAIRYTALE                   198.783784
HOWDEN TYPE                 152.834821
HOWDEN WHITE TYPE           170.000000
KNUCKLE HEAD                238.888889
MINIATURE                    21.515152
MIXED HEIRLOOM VARIETIES    210.000000
PIE TYPE                    133.404040
Name: Low Price, dtype: float64
*********************************************
*********************************************
LOWEST HIGh PRICE:
 Variety
BIG MACK TYPE                50.0
BLUE TYPE                   285.0
CINDERELLA                   15.0
FAIRYTALE                    16.0
HOWDEN TYPE                 100.0
HOWDEN WHITE TYPE           180.0
KNUCKLE HEAD                140.0
MINIATURE                    15.0
MIXED HEIRLOOM VARIETIES    200.0
PIE TYPE                     12.0
Name: High Price, dtype: float64
*********************************************
MAX HIGH PRICE:
Variety
BIG MACK TYPE               285.0
BLUE TYPE                   285.0
CINDERELLA                  380.0
FAIRYTALE                   285.0
HOWDEN TYPE                 225.0
HOWDEN WHITE TYPE           180.0
KNUCKLE HEAD                285.0
MINIATURE                   280.0
MIXED HEIRLOOM VARIETIES    240.0
PIE TYPE                    300.0
Name: High Price, dtype: float64
*********************************************
MEAN HIGH PRICE BY VARIETY:
Variety
BIG MACK TYPE               147.272727
BLUE TYPE                   285.000000
CINDERELLA                  220.974359
FAIRYTALE                   214.108108
HOWDEN TYPE                 177.098214
HOWDEN WHITE TYPE           180.000000
KNUCKLE HEAD                260.555556
MINIATURE                    23.181818
MIXED HEIRLOOM VARIETIES    230.000000
PIE TYPE                    148.118687
Name: High Price, dtype: float64
*********************************************

In [5]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
total_sales_per_variety = combined_df['Variety'].value_counts()
print(total_sales_per_variety)


combined_df['Date'] = pd.to_datetime(combined_df['Date'], format='%m/%d/%Y')
combined_df['Year'] = combined_df['Date'].dt.year
counts_per_variety_per_city_per_year = combined_df.groupby(['City Name', 'Variety', 'Year']).size()
sales_counts_df = counts_per_variety_per_city_per_year.reset_index(name='Yearly Sales:')

# Print the result
print(sales_counts_df)

Variety
HOWDEN TYPE                 224
PIE TYPE                    198
MINIATURE                    99
BIG MACK TYPE                55
CINDERELLA                   39
FAIRYTALE                    37
KNUCKLE HEAD                  9
BLUE TYPE                     7
MIXED HEIRLOOM VARIETIES      4
HOWDEN WHITE TYPE             2
Name: count, dtype: int64
       City Name                   Variety  Year  Yearly Sales:
0      BALTIMORE             BIG MACK TYPE  2016             22
1      BALTIMORE             BIG MACK TYPE  2017              2
2      BALTIMORE                CINDERELLA  2017             25
3      BALTIMORE                 FAIRYTALE  2016             16
4      BALTIMORE               HOWDEN TYPE  2016             21
5      BALTIMORE               HOWDEN TYPE  2017              4
6      BALTIMORE         HOWDEN WHITE TYPE  2017              2
7      BALTIMORE                 MINIATURE  2016             25
8      BALTIMORE                 MINIATURE  2017              7
9      BALTIMORE  MIXED HEIRLOOM VARIETIES  2017              3
10     BALTIMORE                  PIE TYPE  2016             18
11     BALTIMORE                  PIE TYPE  2017              8
12        BOSTON             BIG MACK TYPE  2016              7
13        BOSTON             BIG MACK TYPE  2017             22
14        BOSTON                 BLUE TYPE  2016              7
15        BOSTON                CINDERELLA  2016             14
16        BOSTON                 FAIRYTALE  2016             21
17        BOSTON               HOWDEN TYPE  2016            120
18        BOSTON               HOWDEN TYPE  2017             12
19        BOSTON              KNUCKLE HEAD  2016              7
20        BOSTON                 MINIATURE  2016             28
21        BOSTON                  PIE TYPE  2016            100
22        BOSTON                  PIE TYPE  2017             14
23      NEW YORK             BIG MACK TYPE  2016              2
24      NEW YORK               HOWDEN TYPE  2016             26
25      NEW YORK               HOWDEN TYPE  2017             13
26      NEW YORK              KNUCKLE HEAD  2016              1
27      NEW YORK                 MINIATURE  2016             20
28      NEW YORK                 MINIATURE  2017              7
29      NEW YORK  MIXED HEIRLOOM VARIETIES  2016              1
30      NEW YORK                  PIE TYPE  2016             25
31      NEW YORK                  PIE TYPE  2017             17
32  PHILADELPHIA               HOWDEN TYPE  2016             18
33  PHILADELPHIA               HOWDEN TYPE  2017             10
34  PHILADELPHIA              KNUCKLE HEAD  2016              1
35  PHILADELPHIA                 MINIATURE  2016              8
36  PHILADELPHIA                 MINIATURE  2017              4
37  PHILADELPHIA                  PIE TYPE  2016              9
38  PHILADELPHIA                  PIE TYPE  2017              7

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [6]:
# Try the bonus mission if you have time!